/* @theme test */

/* ベーステーマを継承 (必要に応じて default 以外に変更してもOK) */
@import "default";

/* スライド全体の背景色を灰色にする */
section {
  background-color: #dc3a3a; /* お好みで #ccc や #ddd に調整 */
  color: #333; /* 文字色が背景に埋もれないようコントラストを指定 */
}

/* 見出しの色、文字の太さなどを調整したい場合は追加 */
h1,
h2,
h3 {
  font-weight: 700;
  color: #333;
}
